:root {
  --account-purple: #7950c1;
  --active-link: #f00;
  --black: #000;
  --btn-font: #888;
  --btn-hover-border: #777;
  --footer-bg: #f2f2f2;
  --footer-links: #888;
  --languages-color: blue;
  --light-grey: #e2dede;
  --main-bg-color: #fff;
  --searchbox-border: #d1d1d1;
  --white: #fff;
}

strong {
  font-weight: bold;
}

body {
  background-color: var(--main-bg-color);
  font-family: Arial, sans-serif;
  width: 100%;
  overflow-y: scroll;
}

nav {
  background-color: #fafafa;
  text-align: right;
  width: 100%;
  height: 120px;
  border-bottom: 1px solid var(--footer-bg);
}

nav a {
  color: var(--black);
  font-size: 13px;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.logo-container {
  display: inline-block;
  left: 0;
  position: absolute;
  top: 20px;
  margin-left: 15px;
  padding-top: 7px;
}

.logo-container a {
  display: block;
  position: relative;
}

.logo {
  width: 120px;
  height: 40px;
}

.categories-cont {
  display: inline-block;
  height: 20px;
  left: 0;
  margin-left: 150px;
  position: absolute;
  width: 630px;
  top: 90px;
}

.results-categories {
  list-style-type: none;
  text-align: right;
}

.results-categories li {
  display: inline-block;
  margin-right: 15px;
  height: 28px;
  width: 40px;
  text-align: center;
}

.results-categories li:first-child {
  border-bottom: 3px solid #1A73E8;
}

.results-categories li:first-child a {
  color: #1A73E8;
  font-weight: bold;
}

.results-categories li:nth-child(-n+6) {
  float: left;
}

.results-categories li a {
  color: var(--footer-links);
  font-size: 13px;
  text-decoration: none;
}

.results-categories li a:active {
  color: #1A73E8;
}

.results-categories li a:hover {
  text-decoration: none;
  color: var(--black);
}

.linkscont {
  display: inline-block;
  position: absolute;
  right: 0;
  top: 20px;
}

.apps {
  background-image: url('../images/apps.png');
  background-size: contain;
  display: inline-block;
  height: 20px;
  margin-left: 15px;
  opacity: .5;
  text-decoration: none;
  vertical-align: middle;
  width: 20px;
}

.apps:hover {
  opacity: 1;
}

.notifications {
  background-image: url('../images/notifications.png');
  background-size: contain;
  display: inline-block;
  height: 20px;
  margin-left: 15px;
  opacity: .5;
  text-decoration: none;
  vertical-align: middle;
  width: 20px;
}

.notifications:hover {
  opacity: 1;
}

.account {
  background-color: var(--account-purple);
  border-radius: 50%;
  color: var(--white);
  display: inline-block;
  font-size: 18px;
  height: 32px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: 30px;
  text-align: center;
  vertical-align: middle;
  width: 32px;
}

.results-stats {
  width: 100%;
  height: 50px;
}

.results-stats p {
  color: var(--footer-links);
  font-size: 13px;
  text-decoration: none;
  margin-left: 150px;
  padding-left: 15px;
  line-height: 40px;
}

.top-result {
  margin-left: 150px;
  border: 1px solid var(--light-grey);
  width: 630px;
  height: 270px;
}

.top-result p {
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  padding: 10px 10px;
  line-height: 1.2;
}

.top-result ol {
  font-size: 16px;
  text-align: left;
  padding: 10px 10px;
  line-height: 1.5;
  list-style: decimal;
  margin-left: 20px;
}

#more-items {
  color: var(--footer-links);
  font-size: 14px;
  text-decoration: none;
  display: block;
  margin-left: 30px;
  margin-bottom: 15px;
}

#more-items:hover {
  text-decoration: underline;
}

#source-url {
  font-size: 18px;
  display: block;
  padding: 10px 10px 5px 10px;
  text-decoration: none;
}

#source-site {
  font-size: 15px;
  display: block;
  padding: 0 10px;
  text-decoration: none;
  color: green;
}

.feedback-content {
  padding-left: 600px;
  padding-top: 5px;
}

.feedback {
  text-decoration: none;
  margin-right: 15px;
  font-size: 13px;
  color: var(--footer-links);
}

.feedbackcont {
  margin-left: 150px;
  width: 630px;
  text-align: right;
  padding-top: 5px;
}

.arrow {
  background-image: url(../images/arrow-down.png);
  width: 20px;
  height: 20px;
  display: inline-block;
  background-size: contain;
  float: right;
  margin-right: 20px;
}

.search-links {
  margin-left: 150px;
  border: 1px solid var(--light-grey);
  width: 630px;
  height: auto;
  margin-top: 20px;
}

.search-links  p {
  font-size: 20px;
  color: var(--footer-links);
  padding: 15px 20px;
  border-bottom: 1px solid var(--light-grey);
}

.search-links ul {
  font-size: 18px;
  text-align: left;
  line-height: 1.5;
}

.search-links ul li {
  border-bottom: 1px solid var(--light-grey);
  padding-left: 20px;
  padding-top: 5px;
}

.feedback {
  text-decoration: none;
  margin-right: 15px;
  font-size: 13px;
  color: var(--footer-links);
  padding-top: 5px;
}

#main {
  margin-left: 150px;
  width: 630px;
  height: auto;
  margin-top: 25px;
  padding-left: 20px;
}

#main div a {
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

#main div cite {
  color: green;
  font-size: 14px;
  margin-bottom: 5px;
}

#main div p {
  font-size: 13px;
  color: var(--footer-links);
  line-height: 1.5;
}

.result {
  margin-bottom: 25px;
}

.search-container {
  height: auto;
  width: 600px;
  display: inline-block;
  position: absolute;
  left: 0;
  margin-left: 150px;
  top: 20px;
}

.search-form {
  height: 100%;
}

.search-textbox {
  border: 1px solid var(--searchbox-border);
  box-shadow: 1px 1px var(--light-grey);
  height: 40px;
  padding-left: 15px;
  width: 100%;
  font-size: 16px;
}

.search-btns {
  margin: 20px 0;
}

.btn {
  background-color: var(--footer-bg);
  border: 0;
  border-radius: 2px;
  color: var(--btn-font);
  font-size: 13px;
  font-weight: bold;
  height: 36px;
  line-height: 27px;
  margin: 11px 4px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
}

.btn:hover {
  border: 1px solid var(--light-grey);
  color: var(--black);
}

.languages {
  font-size: 13px;
  list-style: none;
}

.languages li {
  display: inline-block;
}

.languages li a {
  color: var(--languages-color);
  font-size: 13px;
  margin-right: 10px;
  text-decoration: none;
}

.country {
  border-bottom: 1px solid var(--light-grey);
  border-top: 1px solid var(--light-grey);
}

.country > span {
  color: var(--footer-links);
  font-size: 15px;
  line-height: 40px;
  margin-left: 200px;
}

.location {
  display: inline-block;
  margin-left: 30px;
}

.location-dot {
  background-color: #888;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}

.city {
  color: var(--black) !important;
  font-size: 13px;
  font-weight: bold !important;
}

.location span {
  color: var(--footer-links);
  font-size: 13px;
}

.location span a {
  color: var(--footer-links);
  font-size: 13px;
  text-decoration: none;
}

footer {
  background-color: var(--footer-bg);
/*  bottom: 0;
  position: absolute;*/
  width: 100%;
}

.footer-links {
  line-height: 40px;
  list-style: none;
  margin-left: 200px;
  text-align: right;
}

.footer-links li {
  display: inline-block;
  float: left;
}

/*.footer-links li:nth-last-child(1),
.footer-links li:nth-last-child(2),
.footer-links li:nth-last-child(3) {
  float: none;
}*/

.footer-links li a {
  color: var(--footer-links);
  font-size: 13px;
  margin-right: 30px;
  text-decoration: none;
}

.footer-links li a:active {
  color: var(--active-link);
}

.footer-links li a:hover {
  text-decoration: none;
  color: #666;
}